* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #fff;
}

#dad h1 {
    color: #4CAF50;
    ;
}

#dad p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 50px;
}

#mom h2 {
    color: #2196F3;
}

#mom p {
    font-size: 18px;
    line-height: 1.6;
}

